extends ../../home/views/index.pug

block content
   
    <div class="content-wrapper">
        <div class="container-fluid">
            each result in result_mach 
                h4 Update:
                    value=" "+result.int_itemStockID

                <form method="POST" action="editsched">
                    <hr>
                    <input type="hidden" name="" value="int_itemStockID">
                    <div class="form-group">
                        <label for="machcode"><span class="glyphicon glyphicon-user"></span>Serial Code</label>
                        <input type="text" class="form-control" name="machcode" id="machcode" placeholder="" required>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-6">
                        <label for="machname"><span class="glyphicon glyphicon-eye-open"></span>Name</label>
                        <input type="text" class="form-control" name="machname" id="machname" placeholder="" required>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="machdescription"><span class="glyphicon glyphicon-eye-open"></span>Description</label>
                        <input type="text" class="form-control" name="machdescription" id="machdescription" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="machprice"><span class="glyphicon glyphicon-eye-open"></span>Price</label>
                        <input type="number" class="form-control" name="machprice" id="machprice" placeholder="" required>
                    </div>
                    <button type="submit" id="modalbutton" class="btn btn-primary float-right" position="center" style="background-color#21BA45;color:whitesmoke;border:none;">Submit</button>
        
                    </div>
                    <button type="submit" class="btn btn-default float-right" id="buttoneditprofile">Submit</button>
                </div>
        </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            <small>Copyright © Irregular Please 2018</small>
            </div>
        </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script src="/adminui/vendor/jquery/jquery.min.js"></script>
        <script src="/adminui/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/adminui/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/adminui/vendor/chart.js/Chart.min.js"></script>
        <script src="/adminui/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/adminui/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/adminui/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/adminui/js/sb-admin-datatables.min.js"></script>
        <script src="/adminui/js/sb-admin-charts.min.js"></script>
    </div>
    </body>


       

        