extends ../../home/views/index.pug

block content
   
    <div class="content-wrapper">
        <div class="container-fluid">
            each result in result_college   
                h4 Send Email to:
                    value=" "+result.varchar_collegeName

                <form method="POST" action="sendemail">
                    input(type="hidden" value=`${result.int_collegeID}` name="college_ID")
                    <hr>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="editemail">Email Address</label>
                            input(type="email" class="form-control" id="editemail" placeholder="(ex. ccis@gmail.com)" value=`${result.varchar_collegeEmail}`  name="college_email" required)
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default float-right" id="buttoneditprofile">Send Details</button>
                </div>
        </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            <small>Copyright © Irregular Please 2018</small>
            </div>
        </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script src="/adminui/vendor/jquery/jquery.min.js"></script>
        <script src="/adminui/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/adminui/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/adminui/vendor/chart.js/Chart.min.js"></script>
        <script src="/adminui/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/adminui/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/adminui/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/adminui/js/sb-admin-datatables.min.js"></script>
        <script src="/adminui/js/sb-admin-charts.min.js"></script>
    </div>
    </body>


       

        