extends ../../home/views/navbar.pug

block content

    <div class="content-wrapper">
        <div class="container-fluid">
        .main-panel
          nav.navbar.navbar-default.navbar-fixed
           .container-fluid
          .content
            .container-fluid
             .row
               .col-md-12
                 .card
                  .header
                   h4.title
                    | PharmaStar 
                    script.
                      document.write(new Date().getFullYear())
                   p.category Products
                 .content.table-responsive.table-full-width
                   table.table.table-hover.table-striped
                    thead
                      th Product Name
                      th Code Name
                      th Quantity
                      th Expiry Date
                      th Action
                    tbody
                      tr
                        td AMPICILLIN(AS SODIUM)-AMPICELO 500
                        td ICI7167002
                        td 80,231
                        td 01/2019
                        td
                          button.btn.btn-simple.btn-info.btn-icon.table-action.view(rel='tooltip', type='button', title='View', data-toggle='modal', data-target='#myModal')
                           i.ti-eye
                          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                            .modal-dialog(role='document')
                             .modal-content
                               .modal-header
                                 h5#exampleModalLabel.modal-title
                                  | Product Details
                                 button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span.ti-close(aria-hidden='true')
                               .modal-body
                                  p AMPICILLIN(AS SODIUM)-AMPICELO 500
                                  p Code Name:ICI7167002 
                               .modal-footer
                                 button.btn.btn-primary(type='button', data-dismiss='modal') Ok
                      tr
                        td CAPECITABINE - CETAGEN 500 MG
                        td GST17043
                        td 1,250
                        td 07/2019
                        td
                          button.btn.btn-simple.btn-info.btn-icon.table-action.view(rel='tooltip', title='View', data-toggle='modal', data-target='#myModal1')
                            i.ti-eye
                          #myModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                           .modal-dialog(role='document')
                             .modal-content
                               .modal-header
                                 h5#exampleModalLabel.modal-title
                                  | Product Details
                                 button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span.ti-close(aria-hidden='true')
                               .modal-body
                                 p CAPECITABINE - CETAGEN 500 MG
                                 p Code Name:GST17043
                               .modal-footer
                                button.btn.btn-primary(type='button', data-dismiss='modal') Ok
                      tr
                        td A.V FISTULA NEEDLE w/ FIXED WING G15
                        td POLYMED
                        td 19,400
                        td 11/2019
                        td
                          button.btn.btn-simple.btn-info.btn-icon.table-action.view(rel='tooltip', title='View', data-toggle='modal', data-target='#myModal2')
                           i.ti-eye
                          #myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                           .modal-dialog(role='document')
                             .modal-content
                               .modal-header
                                 h5#exampleModalLabel.modal-title
                                  | Product Details
                                 button.close(type='button', data-dismiss='modal', aria-label='Close')
                                  span.ti-close(aria-hidden='true')
                               .modal-body
                                  p A.V FISTULA NEEDLE w/ FIXED WING G15
                                  p POLYMED
                               .modal-footer
                                button.btn.btn-primary(type='button', data-dismiss='modal') Ok
    #chartPreferences.ct-chart.ct-perfect-fourth(style='display: none;')
    #chartHours.ct-chart(style='display: none;')
    #chartActivity.ct-chart(style='display: none;')

        
        <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            <small>Copyright © Pharmastar Int'l Trading Corporation 2018</small>
            </div>
        </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
        </a>
        link(href='../themify-icons/themify-icons.css', rel='stylesheet')

        <script src="/adminui/vendor/jquery/jquery.min.js"></script>
        <script src="/adminui/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/adminui/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/adminui/vendor/chart.js/Chart.min.js"></script>
        <script src="/adminui/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/adminui/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/adminui/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/adminui/js/sb-admin-datatables.min.js"></script>
        <script src="/adminui/js/sb-admin-charts.min.js"></script>
    </div>
    </body>

        script.
            $('input[type=checkbox]').on('change', function (e) {
                if ($('input[type=checkbox]:checked').length > 3) {
                    $(this).prop('checked', false);
                    alert("This option allows only 3 checkbox to be selected.");
                }
            });