#background {
    background-repeat: no-repeat;
    background-size: 100% 130%;
    max-width: 100%;
    height: 100%;
}

.blur {
    -webkit-animation: blur 3s ;
    -webkit-animation-fill-mode: forwards;
}
  
@-webkit-keyframes blur {
    0% { -webkit-filter: blur(0px); }
    100% { -webkit-filter: blur(3px); }
}

.container{
    border: 3px solid;
    padding:8px 20px;
    border-color:transparent;
    background-color: black;
    filter: opacity(73%);
}

#conta1{
    /* margin: auto; */
    margin-top: -42%;;
    height: 80%;
    width: 80%;
    z-index: 10;
    border-radius: 10px;
    color: white;
    overflow-y: scroll;
}

.btn {
	letter-spacing: 1px;
	text-decoration: none;
	background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
	font-size:14px;
	line-height:20px;
	font-weight:700;
	/* text-transform:uppercase; */
	border: 3px solid;
    padding:8px 20px;
    color:white;
    border-color: #B22222;
}
.btn:hover {
    border-color: palegoldenrod;
    color: #B22222;
    text-transform:uppercase;
}

#navbar {
    overflow: hidden;
    background-color: #b22222;
}

.nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#submitpetition{
    border-color: #b22222;
    color:#b22222;
    margin-left:35%;
    margin-right:35%;
    margin-bottom: 5%;
    border-radius: 10px;
    filter: opacity(90%);
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
    color: white;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: white;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: white;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: white;
}

.table{
    color:white;
}