extends ../../../../templates/master.pug

block body
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets/popper/popper.min.js"></script>

        <title>Pharmastar</title>
            <link href="/adminui/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            
            <link href="/adminui/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            
            <link href="/adminui/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
            
            <link href="/adminui/css/sb-admin.css" rel="stylesheet">


            <script src="/adminui/vendor/jquery/jquery.min.js"></script>

            <script src="/adminui/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <script src="/adminui/vendor/jquery-easing/jquery.easing.min.js"></script>

            <script src="/adminui/vendor/chart.js/Chart.min.js"></script>

            <script src="/adminui/vendor/datatables/jquery.dataTables.js"></script>

            <script src="/adminui/vendor/datatables/dataTables.bootstrap4.js"></script>

            <script src="/adminui/js/sb-admin.min.js"></script>

            <script src="/adminui/js/sb-admin-datatables.min.js"></script>

            <script src="/adminui/js/sb-admin-charts.min.js"></script>


            <body class="fixed-nav sticky-footer bg-dark" id="page-top">
                <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                    <a href="/student/announcements" id ="homelogo" class="navbar-brand"><img src="/homepage/img/Logo2.png" alt="logo" title="Logo" style="border-radius:20%;height:5%;width:13%;" /></img>  Pharmastar</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Delivery Receipts/Sales Invoice">
                        <a class="nav-link" href="/student/announcements">
                            <i class="fa fa-file"></i>
                            <span class="nav-link-text">Delivery Receipts/Sales Invoice</span>
                        </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Stocks">
                        <a class="nav-link" href="/student/schedule">
                            <i class="fa fa-fw fa-edit"></i>
                            <span class="nav-link-text">Stocks</span>
                        </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="List">
                        <a class="nav-link" href="/student/petition">
                            <i class="fa fa-fw fa-list-ol"></i>
                            <span class="nav-link-text">List</span>
                        </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reports">
                        <a class="nav-link" href="/student/petition">
                            <i class="fa fa-fw fa-list-ol"></i>
                            <span class="nav-link-text">Reports</span>
                        </a>
                        </li>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profile">
                        <a class="nav-link" href="/student/profile">
                            <i class="fa fa-fw fa-user-circle"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                        </li>
                    </ul>
                    <!-- End of Nav Side Bar -->
                    <ul class="navbar-nav sidenav-toggler">
                        <li class="nav-item">
                        <a class="nav-link text-center" id="sidenavToggler">
                            <i class="fa fa-fw fa-angle-left"></i>
                        </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                    </div>
                </nav>


                
        block content 